page-legal {
  .content-wrapper {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content-title {
      color: black;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bolder;
    }
    .content-inner {
      width: 85%;
      height: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .legal-container {
        p {
          font-size: 12px;
        }
        .page {
          display: none;
          &.visible {
            display: initial;
          }
        }
        .legal-pagination {
          position: absolute;
          bottom: 30px;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: auto;
          .legal-page-button {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
            border: 1px solid black;
            border-radius: 100%;
            &.active {
              width: 55px;
              height: 55px;
            }
          }
        }
      }
    }
  }
}
