<ion-content padding>
  <div class="sidebar-container">
    <div class="sidebar__logo-container">
      <img src="assets/imgs/logo.png" alt="Logo Senses" (click)="goToHomePage()"/>
    </div>
    <div class="sidebar__links-container">
      <div class="sidebar__top-links">
        <a class="link link-one no-icon">
          <img src="{{ currentUserImage }}" alt="Username" (click)="goToProfilePage()">
        </a>
        <a class="link link-two">
          <img src="assets/imgs/sidebar/star.png" alt="Favoris" (click)="goToFavoritesPage()">
        </a>
        <a class="link link-three">
          <img src="assets/imgs/sidebar/settings.png" alt="Paramètres" (click)="goToSettingsPage()">
        </a>
      </div>
      <div class="sidebar__bottom-links">
        <a class="link link-four">
          <img src="assets/imgs/sidebar/email.png" alt="Messages" (click)="goToContactPage()">
        </a>
        <a class="link link-five active">
          <img src="assets/imgs/sidebar/question-mark-active.png" alt="Mentions légales">
        </a>
        <a class="link link-six no-icon">
          <img src="assets/imgs/flags/france.png" alt="French">
        </a>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content-title">Mentions légales</div>
    <div class="content-inner">
      <div class="legal-container">
        <div class="page page-one visible">
          <p><b>« La société Senses » / « La Société » / « Senses» / « nous » / « notre/nos »</b> : désignent la société Senses, entreprise individuelle immatriculée au RCS de Lyon exploitant l’Application et le Service définis ci-dessous.</p>
          <p>« Service » : désigne la mise à disposition d’un dispositif de réalité virtuelle par les Partenaires à destination des Utilisateurs finaux.</p>
          <p>« Application » : désigne le support numérique mis à disposition des utilisateurs finaux pour accéder au service.</p>
          <p>Visite virtuelle / réalité virtuelle : désigne la technologie informatique qui simule, par l’usage notamment d’un casque de réalité virtuelle, la présence physique de l’Utilisateur dans un environnement artificiellement généré par des logiciels, environnement avec lequel l’Utilisateur peut interagir sensoriellement.</p>
          <p>« Utilisateur » / « Internaute » / « vous » / « votre/vos » : désignent tout visiteur, ayant accès au service.</p>
          <p>« Partenaire commercial » / « Partenaire » : désignent toute personne morale ou physique ayant adhérés au concept Senses par le biais d’un abonnement et utilisant le dispositif à des fins strictement professionnelles en vue d’être mis en relation avec un ou plusieurs Utilisateurs dans l’optique de lui ou leur fournir sa Prestation.</p>
          <p><b>Article 2. Objet</b></p>
          <p>Les présentes CGU ont pour objet de définir les modalités et conditions d’utilisation des Services proposés sur l’Application, ainsi que de définir les droits et obligations des parties dans ce cadre.</p>
          <p>Elles sont notamment accessibles et imprimables à tout moment depuis l’Application.</p>
          <p>Elles peuvent être complétées, le cas échéant, par des conditions d’utilisation particulières à certains services. En cas de contradiction, les conditions particulières prévalent sur ces conditions générales.</p>
          <p>Tout manquement de notre part à appliquer, à tout moment et pour toute durée, une ou plusieurs dispositions des présentes conditions, ne sera pas interprété comme une renonciation à celles-ci ou aux droits qui s’y rattachent.</p>
          <p><b>Article 3. Description et étendue du Service</b></p>
          <p><b>1. Description</b></p>
          <p>Par le biais de l’Application, la société Senses fournit une un dispositif grâce auquel les Partenaires commerciaux peuvent proposer leurs Prestations aux Utilisateurs. L’Utilisateur a accès aux Services, sur l’Application, sous une forme et selon les fonctionnalités et moyens techniques que la société Senses jugera les plus appropriés.</p>
        </div>
        <div class="page page-two">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus neque, fermentum eget dolor nec, tempus tincidunt metus. Pellentesque elementum porttitor cursus. Ut maximus vestibulum est vitae aliquam. Etiam eget elit mi. Nulla at fermentum libero, eget dictum nibh. Aliquam ut dui semper, consectetur ligula ac, interdum nunc. Nunc vehicula turpis sit amet enim pharetra dictum non ut nulla. Etiam mauris lectus, ullamcorper id elit a, mollis lacinia ex. Nullam placerat tempor augue et placerat. Vestibulum ut cursus erat.</p>

          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc consequat maximus risus mattis malesuada. Proin tristique accumsan felis, in convallis sapien fermentum vel. Suspendisse potenti. Praesent nec scelerisque justo. Nulla sit amet ornare turpis. Suspendisse interdum nisl dui, ac interdum ligula commodo ut.</p>

          <p>Donec dapibus sapien ac sem mollis, ac egestas mi aliquet. Nulla aliquet nulla sit amet libero tristique, ornare placerat massa cursus. Donec non lorem sed massa cursus rhoncus. Quisque porttitor scelerisque mauris et bibendum. Ut nec tristique risus. Aliquam ac enim diam. Integer ipsum est, sagittis a velit ut, rhoncus pulvinar tellus.</p>

          <p>Phasellus consequat elit in dui imperdiet tempus. Nunc luctus arcu vel purus accumsan, et rhoncus est pretium. In hac habitasse platea dictumst. Vivamus eu elit eget magna ultricies tempus viverra ut est. Nullam arcu mi, porttitor sit amet augue nec, ornare bibendum tellus. Fusce tincidunt sodales elit vel dapibus. Aenean et fringilla libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar sem odio, fermentum consectetur sapien sodales sed. Duis dictum massa quis quam tempor rhoncus. Aenean sit amet nulla pulvinar, convallis nisi sed, laoreet ante. Pellentesque massa nulla, condimentum ut quam ut, efficitur interdum ante. Ut efficitur lectus sem, at sagittis tortor luctus at.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus neque, fermentum eget dolor nec, tempus tincidunt metus. Pellentesque elementum porttitor cursus. Ut maximus vestibulum est vitae aliquam. Etiam eget elit mi. Nulla at fermentum libero, eget dictum nibh. Aliquam ut dui semper, consectetur ligula ac, interdum nunc. Nunc vehicula turpis sit amet enim pharetra dictum non ut nulla. Etiam mauris lectus, ullamcorper id elit a, mollis lacinia ex. Nullam placerat tempor augue et placerat. Vestibulum ut cursus erat.</p>

          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc consequat maximus risus mattis malesuada. Proin tristique accumsan felis, in convallis sapien fermentum vel. Suspendisse potenti. Praesent nec scelerisque justo. Nulla sit amet ornare turpis. Suspendisse interdum nisl dui, ac interdum ligula commodo ut.</p>

          <p>Phasellus nulla metus, aliquam et dictum eu, rutrum quis magna. Nam blandit lectus sit amet accumsan eleifend. Suspendisse pharetra erat nisi, vitae commodo enim pellentesque a. Nulla ut tortor sed risus malesuada varius vel at lacus. Vivamus sed turpis massa. Ut volutpat consectetur diam, in elementum ex sagittis sit amet. Nulla non lacinia turpis. Nunc porttitor dui quis nisi dignissim condimentum. In hac habitasse platea dictumst. Nam posuere gravida felis et pellentesque. Sed finibus felis et leo consectetur hendrerit.</p>
        </div>
        <div class="page page-three">
          <p>Phasellus nulla metus, aliquam et dictum eu, rutrum quis magna. Nam blandit lectus sit amet accumsan eleifend. Suspendisse pharetra erat nisi, vitae commodo enim pellentesque a. Nulla ut tortor sed risus malesuada varius vel at lacus. Vivamus sed turpis massa. Ut volutpat consectetur diam, in elementum ex sagittis sit amet. Nulla non lacinia turpis. Nunc porttitor dui quis nisi dignissim condimentum. In hac habitasse platea dictumst. Nam posuere gravida felis et pellentesque. Sed finibus felis et leo consectetur hendrerit.</p>

          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc consequat maximus risus mattis malesuada. Proin tristique accumsan felis, in convallis sapien fermentum vel. Suspendisse potenti. Praesent nec scelerisque justo. Nulla sit amet ornare turpis. Suspendisse interdum nisl dui, ac interdum ligula commodo ut.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus neque, fermentum eget dolor nec, tempus tincidunt metus. Pellentesque elementum porttitor cursus. Ut maximus vestibulum est vitae aliquam. Etiam eget elit mi. Nulla at fermentum libero, eget dictum nibh. Aliquam ut dui semper, consectetur ligula ac, interdum nunc. Nunc vehicula turpis sit amet enim pharetra dictum non ut nulla. Etiam mauris lectus, ullamcorper id elit a, mollis lacinia ex. Nullam placerat tempor augue et placerat. Vestibulum ut cursus erat.</p>

          <p>Donec dapibus sapien ac sem mollis, ac egestas mi aliquet. Nulla aliquet nulla sit amet libero tristique, ornare placerat massa cursus. Donec non lorem sed massa cursus rhoncus. Quisque porttitor scelerisque mauris et bibendum. Ut nec tristique risus. Aliquam ac enim diam. Integer ipsum est, sagittis a velit ut, rhoncus pulvinar tellus.</p>

          <p>Phasellus consequat elit in dui imperdiet tempus. Nunc luctus arcu vel purus accumsan, et rhoncus est pretium. In hac habitasse platea dictumst. Vivamus eu elit eget magna ultricies tempus viverra ut est. Nullam arcu mi, porttitor sit amet augue nec, ornare bibendum tellus. Fusce tincidunt sodales elit vel dapibus. Aenean et fringilla libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar sem odio, fermentum consectetur sapien sodales sed. Duis dictum massa quis quam tempor rhoncus. Aenean sit amet nulla pulvinar, convallis nisi sed, laoreet ante. Pellentesque massa nulla, condimentum ut quam ut, efficitur interdum ante. Ut efficitur lectus sem, at sagittis tortor luctus at.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus neque, fermentum eget dolor nec, tempus tincidunt metus. Pellentesque elementum porttitor cursus. Ut maximus vestibulum est vitae aliquam. Etiam eget elit mi. Nulla at fermentum libero, eget dictum nibh. Aliquam ut dui semper, consectetur ligula ac, interdum nunc. Nunc vehicula turpis sit amet enim pharetra dictum non ut nulla. Etiam mauris lectus, ullamcorper id elit a, mollis lacinia ex. Nullam placerat tempor augue et placerat. Vestibulum ut cursus erat.</p>

          <p>Donec dapibus sapien ac sem mollis, ac egestas mi aliquet. Nulla aliquet nulla sit amet libero tristique, ornare placerat massa cursus. Donec non lorem sed massa cursus rhoncus. Quisque porttitor scelerisque mauris et bibendum. Ut nec tristique risus. Aliquam ac enim diam. Integer ipsum est, sagittis a velit ut, rhoncus pulvinar tellus.</p>
        </div>
        <div class="legal-pagination">
          <div class="legal-page-button page-one-button active" (click)="pageOne()">1</div>
          <div class="legal-page-button page-two-button" (click)="pageTwo()">2</div>
          <div class="legal-page-button page-three-button" (click)="pageThree()">3</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
