<ion-content padding>
  <div class="sidebar-container">
    <div class="sidebar__logo-container">
      <img src="assets/imgs/logo.png" alt="Logo Senses" (click)="goToHomePage()"/>
    </div>
    <div class="sidebar__links-container">
      <div class="sidebar__top-links">
        <a class="link link-one no-icon active">
          <img src="{{ currentUserImage }}" alt="Username">
        </a>
        <a class="link link-two">
          <img src="assets/imgs/sidebar/star.png" alt="Favoris" (click)="goToFavoritesPage()">
        </a>
        <a class="link link-three">
          <img src="assets/imgs/sidebar/settings.png" alt="Paramètres" (click)="goToSettingsPage()">
        </a>
      </div>
      <div class="sidebar__bottom-links">
        <a class="link link-four">
          <img src="assets/imgs/sidebar/email.png" alt="Messages" (click)="goToContactPage()">
        </a>
        <a class="link link-five">
          <img src="assets/imgs/sidebar/question-mark.png" alt="Mentions légales" (click)="goToLegalPage()">
        </a>
        <a class="link link-six no-icon">
          <img src="assets/imgs/flags/france.png" alt="French">
        </a>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <form class="infos-form-wrapper" (ngSubmit)="userSaveData()">

      <div class="infos-form-left">
        <img src="{{ currentUserImage }}" alt="Photo de {{ currentUserFirst }}"/>
      </div>
      <div class="infos-form-right">
        <div class="form-group">
          <ion-label for="first">Prénom</ion-label>
          <ion-input type="text" id="first" name="first" value="{{ currentUserFirst }}" [(ngModel)]="currentUserFirst"></ion-input>
        </div>
        <div class="form-group">
          <ion-label for="last">Nom</ion-label>
          <ion-input type="text" id="last" name="last" value="{{ currentUserLast }}" ></ion-input>
        </div>
        <div class="form-group">
          <ion-label for="email">Email</ion-label>
          <ion-input type="email" id="email" name="email" value="{{ currentUserEmail }}" ></ion-input>
        </div>
        <div class="form-group">
          <ion-label for="password">Mot de passe</ion-label>
          <ion-input type="password" id="password" name="password" value="{{ currentUserPassword }}" ></ion-input>
        </div>
        <p class="error-update-message"></p>
      </div>
      <div class="infos-form-button-wrapper">
        <button ion-button type="submit">Modifier</button>
        <button ion-button type="button" (click)="disconnectUser()">Déconnexion</button>
      </div>
    </form>
  </div>
</ion-content>
