page-profile {
  .content-wrapper {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    .infos-form-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .infos-form-left {
        width: 230px;
        height: 280px;
        img {
          width: 150px;
          height: 150px;
          border-radius: 100%;
        }
      }
      .infos-form-right {
        width: 370px;
      }
      .infos-form-button-wrapper {
        position: absolute;
        bottom: 100px;
        right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button[type="button"] {
          border-radius: 0;
          height: initial;
          font-size: initial;
          color: color($colors, mineure);
          background-color: transparent;
          margin: initial;
          padding: initial;
        }
      }
    }
  }
  ion-label.label {
    font-weight: bold;
    margin: 0;
  }
  ion-input[type="text"],
  ion-input[type="tel"],
  ion-input[type="email"],
  ion-input[type="password"] {
    width: 100%;
    display: block;
    background-color: transparent;
    color: color($colors, mineure);
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    padding: 3px 0;
    input.text-input {
      margin: 0;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  .text-input::-moz-placeholder {
    color: initial;
  }

  .text-input:-ms-input-placeholder {
    color: initial;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: initial;
  }
  p.error-update-message {
    display: none;
    &.visible {
      display: block;
      color: #ff0000;
      text-align: center;
      margin: 0;
    }
  }
}
