<ion-content padding>
  <div class="sidebar-container">
    <div class="sidebar__logo-container">
      <img src="assets/imgs/logo.png" alt="Logo Senses" (click)="goToHomePage()"/>
    </div>
    <div class="sidebar__links-container">
      <div class="sidebar__top-links">
        <a class="link link-one no-icon">
          <img src="{{ currentUserImage }}" alt="Username" (click)="goToProfilePage()">
        </a>
        <a class="link link-two">
          <img src="assets/imgs/sidebar/star.png" alt="Favoris" (click)="goToFavoritesPage()">
        </a>
        <a class="link link-three">
          <img src="assets/imgs/sidebar/settings.png" alt="Paramètres" (click)="goToSettingsPage()">
        </a>
      </div>
      <div class="sidebar__bottom-links">
        <a class="link link-four active">
          <img src="assets/imgs/sidebar/email-active.png" alt="Messages">
        </a>
        <a class="link link-five">
          <img src="assets/imgs/sidebar/question-mark.png" alt="Mentions légales" (click)="goToLegalPage()">
        </a>
        <a class="link link-six no-icon">
          <img src="assets/imgs/flags/france.png" alt="French">
        </a>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content-title">Contact</div>
    <div class="content-inner">
      <div class="contact-form-wrapper">
        <div class="contact-form-inner">
          <ion-item>
            <ion-label>Sujet</ion-label>
            <ion-select placeholder="Sujet du message...">
              <ion-option value="0">Question technique</ion-option>
              <ion-option value="1">Demande d'informations</ion-option>
              <ion-option value="2">Autre</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Message</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
          <ion-item class="send-button-container">
            <button ion-button type="submit">Envoyer</button>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>
