page-contact {
  .label-ios + ion-input .text-input,
  .label-ios + ion-textarea .text-input,
  .label-ios + .input + .cloned-input {
    width: auto;
    margin-left: initial;
  }
  .text-input::-moz-placeholder {
    color: color($colors, mineure);
  }
  .text-input:-ms-input-placeholder {
    color: color($colors, mineure);
  }
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: color($colors, mineure);
  }
  .content-wrapper {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content-title {
      color: black;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bolder;
    }
    .content-inner {
      width: 75%;
      height: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .contact-form-wrapper {
        position: relative;
        width: 100%;
        height: 80%;
        background-color: color($colors, majeure);
        border-radius: 15px;
        .contact-form-inner {
          padding: 30px;
          ion-select {
            position: relative;
            color: color($colors, mineure);
            font-size: 14px;
            .select-placeholder {
              color: color($colors, mineure);
            }
          }
          ion-textarea {
            width: 100%;
            min-height: 150px;
            max-height: 150px;
            max-width: 100%;
            min-width: 100%;
            font-size: 14px;
          }
          ion-item {
            background-color: transparent;
            .item-inner {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              border: none;
              .select-icon {
                position: absolute;
                top: 32%;
                right: 12px;
                left: initial;
                color: color($colors, mineure);
                margin-right: 0;
                margin-left: auto;
                .select-icon-inner {
                  right: 5px;
                  left: initial;
                  color: color($colors, mineure);
                }
              }
            }
            ion-label {
              color: white;
              font-size: 14px;
            }
            &.send-button-container {
              margin-top: 15px;
              ion-label {
                margin-left: auto;
              }
              button[type="submit"] {
                padding: 20px 35px;
              }
            }

          }
        }
      }
    }
  }
}
