page-home {
  .content-wrapper {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    .top-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20%;
      .top-content--top-wrapper {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        padding: 20px;
        ion-input[type='text'] {
          width: 380px;
        }
      }
      .top-content--bottom-wrapper {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 50%;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        .trip-filter-btn {
          background-color: transparent;
          color: color($colors, complementary);
          padding: 7px 15px;
          margin-right: 20px;
          border: 1px solid color($colors, complementary);
          border-radius: 25px;
          transition: 0.2s;
          &.active {
            color: white;
            background-color: color($colors, mineure);
            border: 1px solid color($colors, mineure);
            transition: 0.2s;
          }
        }
      }
    }
    .bottom-content {
      position: absolute;
      top: 20%;
      left: 0;
      width: 100%;
      height: 80%;
      .trip-container {
        display: none;
        &.visible {
          display: flex;
        }
      }
      .new-trips,
      .popular-trips,
      .trip-container {
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .trip-wrapper {
          position: relative;
          flex-basis: 33.3333%;
          height: 100%;
          background-position: center;
          background-size: cover;
          z-index: 5;
          &:not(:last-of-type) {
            border-right: 3px solid white;
          }
          .trip-text-wrapper {
            margin-top: 57px;
            h2,
            h3 {
              position: relative;
              color: white;
              text-align: center;
              text-transform: uppercase;
              line-height: 1;
              z-index: 5;
            }
            h2 {
              font-size: 30px;
              font-weight: bold;
              margin-bottom: 12px;
            }
            h3 {
              font-size: 15px;
              font-weight: normal;
            }
          }
          .trip-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 4;
          }
        }
      }
      .ambiance-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .ambiance-item-wrapper {
          position: relative;
          width: 100%;
          height: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-position: center;
          background-size: cover;
          border-bottom: 3px solid white;
          h4 {
            position: relative;
            color: white;
            font-size: 26px;
            text-transform: uppercase;
            font-weight: bold;
            z-index: 5;
          }
          &:last-child {
            border-bottom: none;
          }
          .ambiance-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 4;
          }
        }
      }
      .all-trips-container {
        width: 100vw;
        height: 100%;
        overflow: scroll;
        white-space: nowrap;
        .scroll-content {
          padding: 0;
          .scroll-zoom-wrapper {
            height: 100%;
          }
        }
        .all-trips-row {
          height: 100%;
        }
        .trip-wrapper {
          flex-basis: 290px;
          flex-shrink: 0;
          flex-grow: 0;
        }
      }
    }
  }
  .video-container {
    display: none;
    &.visible {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 25px;
      z-index: 100;
    }
  }
}
