<ion-content padding>
  <div class="sidebar-container">
    <div class="sidebar__logo-container">
      <img src="assets/imgs/logo.png" alt="Logo Senses"/>
    </div>
    <div class="sidebar__links-container">
      <div class="sidebar__top-links">
        <a class="link link-one no-icon">
          <img src="{{ currentUserImage }}" alt="Username" (click)="goToProfilePage()">
        </a>
        <a class="link link-two">
          <img src="assets/imgs/sidebar/star.png" alt="Favoris" (click)="goToFavoritesPage()">
        </a>
        <a class="link link-three">
          <img src="assets/imgs/sidebar/settings.png" alt="Paramètres" (click)="goToSettingsPage()">
        </a>
      </div>
      <div class="sidebar__bottom-links">
        <a class="link link-four">
          <img src="assets/imgs/sidebar/email.png" alt="Messages" (click)="goToContactPage()">
        </a>
        <a class="link link-five">
          <img src="assets/imgs/sidebar/question-mark.png" alt="Mentions légales" (click)="goToLegalPage()">
        </a>
        <a class="link link-six no-icon">
          <img src="assets/imgs/flags/france.png" alt="French">
        </a>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="top-content" padding>
      <div class="top-content--top-wrapper">
        <ion-input type="text" placeholder="Recherche par mots clés"></ion-input>
      </div>
      <div class="top-content--bottom-wrapper">
        <a id="new-trips-filter-btn" class="trip-filter-btn active" (click)="displayNewTrips()">Les nouveautés</a>
        <a id="popular-trips-filter-btn" class="trip-filter-btn" (click)="displayPopularTrips()">Les plus populaires</a>
        <a id="ambiance-filter-btn" class="trip-filter-btn" (click)="displayAmbiancesContainer()">Ambiances</a>
        <a id="all-filter-btn" class="trip-filter-btn hidden" (click)="displayAllTrips()">Tout</a>
      </div>
    </div>
    <div class="bottom-content">
      <div class="trip-container new-trips visible">
        <div *ngFor="let trip of dataNewTrips" [style.background-image]="sanitizeImg(trip.image_url)" class="trip-wrapper" (click)="displayNewTrip(trip.id)">
          <div class="trip-text-wrapper" >
            <h2>{{ trip.title }}</h2>
            <h3>{{ trip.subtitle }}</h3>
          </div>
          <div class="trip-overlay"></div>
        </div>
      </div>
      <div class="trip-container popular-trips">
        <div *ngFor="let trip of dataPopularTrips" [style.background-image]="sanitizeImg(trip.image_url)" class="trip-wrapper" (click)="displayPopularTrip(trip.id)">
          <div class="trip-text-wrapper">
            <h2>{{ trip.title }}</h2>
            <h3>{{ trip.subtitle }}</h3>
          </div>
          <div class="trip-overlay"></div>
        </div>
      </div>
      <div class="trip-container ambiance-container">
        <div class="ambiance-item-wrapper" style="background-image: url('http://jeantinland.com/projets/api_senses/images/trips/aventure.jpg');">
          <h4>Aventure</h4>
          <div class="ambiance-overlay"></div>
        </div>
        <div class="ambiance-item-wrapper" style="background-image: url('http://jeantinland.com/projets/api_senses/images/trips/culturel.jpg');">
          <h4>Culturel</h4>
          <div class="ambiance-overlay"></div>
        </div>
        <div class="ambiance-item-wrapper" style="background-image: url('http://jeantinland.com/projets/api_senses/images/trips/evasion.jpg');">
          <h4>Evasion</h4>
          <div class="ambiance-overlay"></div>
        </div>
        <div class="ambiance-item-wrapper" style="background-image: url('http://jeantinland.com/projets/api_senses/images/trips/romantique.jpg');">
          <h4>Romantique</h4>
          <div class="ambiance-overlay"></div>
        </div>
        <div class="ambiance-item-wrapper" style="background-image: url('http://jeantinland.com/projets/api_senses/images/trips/sensations-extremes.jpg');">
          <h4>Sensations extrêmes</h4>
          <div class="ambiance-overlay"></div>
        </div>
      </div>
      <ion-scroll class="trip-container all-trips-container" direction="x" has-bouncing="true">
          <ion-row nowrap class="all-trips-row">
            <div class="trip-wrapper trip-wrapper-one">
              <div class="trip-text-wrapper">
                <h2></h2>
                <h3></h3>
              </div>
              <div class="trip-overlay"></div>
            </div>
            <div class="trip-wrapper trip-wrapper-two">
              <div class="trip-text-wrapper">
                <h2></h2>
                <h3></h3>
              </div>
              <div class="trip-overlay"></div>
            </div>
            <div class="trip-wrapper trip-wrapper-three">
              <div class="trip-text-wrapper">
                <h2></h2>
                <h3></h3>
              </div>
              <div class="trip-overlay"></div>
            </div>
            <div class="trip-wrapper trip-wrapper-one">
              <div class="trip-text-wrapper">
                <h2></h2>
                <h3></h3>
              </div>
              <div class="trip-overlay"></div>
            </div>
            <div class="trip-wrapper trip-wrapper-two">
              <div class="trip-text-wrapper">
                <h2></h2>
                <h3></h3>
              </div>
              <div class="trip-overlay"></div>
            </div>
            <div class="trip-wrapper trip-wrapper-three">
              <div class="trip-text-wrapper">
                <h2></h2>
                <h3></h3>
              </div>
              <div class="trip-overlay"></div>
            </div>
          </ion-row>
      </ion-scroll>
    </div>
  </div>
  <div class="videos-global-container">
    <div *ngFor="let trip of dataNewTrips" class="video-container video-new-trip-{{ trip.id }}" (click)="closeTripVideoWrapper()">
      <div class="iframe-wrapper">
        <iframe width="896" height="504" [src]="sanitizer.bypassSecurityTrustResourceUrl(trip.trip_video_url)" frameborder="0" class="video-iframe video-iframe-{{ trip.id }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div *ngFor="let trip of dataPopularTrips" class="video-container video-popular-trip-{{ trip.id }}" (click)="closeTripVideoWrapper()">
      <div class="iframe-wrapper">
        <iframe width="896" height="504" [src]="sanitizer.bypassSecurityTrustResourceUrl(trip.trip_video_url)" class="video-iframe video-iframe-{{ trip.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</ion-content>
