page-settings {
  .content-wrapper {
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content-title {
      color: black;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bolder;
    }
    .content-inner {
      width: 75%;
      height: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .content-item-wrapper {
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .content-item-wrapper-left {
          margin-right: 15px;
          .content-item-img-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 90px;
            background: linear-gradient(90deg, color($colors, mineure2), color($colors, mineure3));
            border-radius: 100%;
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
        .content-item-wrapper-right {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          .content-item-desc-container {
            font-weight: bold;
            padding: 0 10px;
          }
          .content-item-switch-container {
            padding: 0 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
