<ion-content padding>
  <div class="sidebar-container">
    <div class="sidebar__logo-container">
      <img src="assets/imgs/logo.png" alt="Logo Senses" (click)="goToHomePage()"/>
    </div>
    <div class="sidebar__links-container">
      <div class="sidebar__top-links">
        <a class="link link-one no-icon">
          <img src="{{ currentUserImage }}" alt="Username" (click)="goToProfilePage()">
        </a>
        <a class="link link-two">
          <img src="assets/imgs/sidebar/star.png" alt="Favoris" (click)="goToFavoritesPage()">
        </a>
        <a class="link link-three active">
          <img src="assets/imgs/sidebar/settings-active.png" alt="Paramètres">
        </a>
      </div>
      <div class="sidebar__bottom-links">
        <a class="link link-four">
          <img src="assets/imgs/sidebar/email.png" alt="Messages" (click)="goToContactPage()">
        </a>
        <a class="link link-five">
          <img src="assets/imgs/sidebar/question-mark.png" alt="Mentions légales" (click)="goToLegalPage()">
        </a>
        <a class="link link-six no-icon">
          <img src="assets/imgs/flags/france.png" alt="French">
        </a>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content-title">Paramètres</div>
    <div class="content-inner">
      <div class="content-item-wrapper">
        <div class="content-item-wrapper-left">
          <div class="content-item-img-container">
            <img src="assets/imgs/settings/vr.png" alt="VR"/>
          </div>
        </div>
        <div class="content-item-wrapper-right">
          <div class="content-item-desc-container">
            Ajustez le casque à la bonne taille
          </div>
        </div>
      </div>
      <div class="content-item-wrapper">
        <div class="content-item-wrapper-left">
          <div class="content-item-img-container">
            <img src="assets/imgs/settings/chair.png" alt="Chaise"/>
          </div>
        </div>
        <div class="content-item-wrapper-right">
          <div class="content-item-desc-container">
            Installez vous confortablement, sans accessoire (lunettes, chapeau...)
          </div>
        </div>
      </div>
      <div class="content-item-wrapper">
        <div class="content-item-wrapper-left">
          <div class="content-item-img-container">
            <img src="assets/imgs/settings/sounds.png" alt="Sons"/>
          </div>
        </div>
        <div class="content-item-wrapper-right">
          <div class="content-item-desc-container">
            Bruitages & ambiance
          </div>
          <div class="content-item-switch-container">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="content-item-wrapper">
        <div class="content-item-wrapper-left">
          <div class="content-item-img-container">
            <img src="assets/imgs/settings/vibrations.png" alt="Vibrations"/>
          </div>
        </div>
        <div class="content-item-wrapper-right">
          <div class="content-item-desc-container">
            Vibration
          </div>
          <div class="content-item-switch-container">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="content-item-wrapper">
        <div class="content-item-wrapper-left">
          <div class="content-item-img-container">
            <img src="assets/imgs/settings/music.png" alt="Musique"/>
          </div>
        </div>
        <div class="content-item-wrapper-right">
          <div class="content-item-desc-container">
            Musique
          </div>
          <div class="content-item-switch-container">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="content-item-wrapper">
        <div class="content-item-wrapper-left">
          <div class="content-item-img-container">
            <img src="assets/imgs/settings/nose.png" alt="Odorat"/>
          </div>
        </div>
        <div class="content-item-wrapper-right">
          <div class="content-item-desc-container">
            Odorat
          </div>
          <div class="content-item-switch-container">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
