// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Google font

@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,600,700,800,900');

// Global styles

* {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all .2s linear;
}

// loader
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,.6);
  animation: fadeOut .3s;
  z-index: 99999;
  &.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn .3s;
  }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

// Forms

ion-input[type="text"],
ion-input[type="tel"],
ion-input[type="email"],
ion-input[type="password"],
ion-select,
ion-textarea {
  width: 100%;
  display: block;
  background-color: transparent;
  color: color($colors, mineure);
  border: 1px solid color($colors, mineure);
  border-radius: 30px;
  padding: 8px 15px;
}

.text-input::-moz-placeholder {
  color: color($colors, mineure);
}

.text-input:-ms-input-placeholder {
  color: color($colors, mineure);
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: color($colors, mineure);
}

ion-input[type="button"],
button[type="submit"],
.btn .btn-default{
  display: block;
  background-color: color($colors, mineure);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 15px 45px;
  margin: 15px auto;
}

// Sidebar

.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: color($colors, majeure);
  .sidebar__logo-container {
    text-align: center;
    margin-top: 30px;
    img {
      width: 100px;
    }
  }
  .sidebar__links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .sidebar__top-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
    .sidebar__bottom-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
    .link {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      border-radius: 100%;
      margin: 10px 0;
      overflow: hidden;
      &.active {
        border: 2px solid color($colors, mineure);
      }
      &:not(.no-icon) {
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

// Rounded switch

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: color($colors, complementary);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Ionic reset

ion-input, ion-textarea {
  position: initial;
  display: initial;
  flex: none;
  width: initial;
}
