<ion-content>
  <div class="logo-wrapper">
    <img src="assets/imgs/logo.png" alt="Logo Senses"/>
  </div>
  <div class="content-wrapper">
    <div class="line-container">
      <div class="line"></div>
      <div class="first-point revealed" (click)="stepTwo()">
        <img src="assets/imgs/tutorial/chair.png" alt="Chair">
      </div>
      <div class="second-point" (click)="stepThree()">
        <img src="assets/imgs/tutorial/world.png" alt="World">
      </div>
      <div class="third-point" (click)="stepFour()">
        <img src="assets/imgs/tutorial/vr.png" alt="Virtual reality">
      </div>
    </div>
    <div class="text-container">
      <div class="first-text">
        <p>Installez vous dans le fauteuil</p>
        <p>confortablement et sans accessoire (lunettes, chapeau...)</p>
      </div>
      <div class="second-text hidden">
        <p>Séléctionnez une destination</p>
        <p>parmi la galerie de vidéos disponible</p>
      </div>
      <div class="third-text hidden">
        <p>Ajustez le casque</p>
        <p>et profitez pleinement de l'expérience !</p>
      </div>
    </div>
    <div class="pagination-container">
      <div class="page-one active" (click)="stepOne()">1</div>
      <div class="page-two" (click)="stepTwo()">2</div>
      <div class="page-three" (click)="stepThree()">3</div>
    </div>
    <div class="skip-tuto-container">
      <p (click)="stepFour()">Passer l'intro</p>
    </div>
    <div class="flag-container">
      <a>
        <img src="assets/imgs/flags/france.png" alt="French">
      </a>
    </div>
  </div>
</ion-content>
