page-tutorial {
  .scroll-content {
    background-color: color($colors, majeure);
    color: white;
  }
  .logo-wrapper {
    position: absolute;
    top: 25px;
    left: calc(50% - 50px);
    width: 120px;
  }
  .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .line-container {
      position: absolute;
      width: 100%;
      height: 100%;
      .line {
        position: absolute;
        bottom: 35%;
        width: 100%;
        height: 3px;
        background-color: color($colors, mineure);
      }
      .first-point,
      .second-point,
      .third-point {
        position: absolute;
        bottom: calc(35% - 35px);
        width: 70px;
        height: 70px;
        background: linear-gradient(90deg, color($colors, mineure2), color($colors, mineure3));
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 100%;
        opacity: 0;
        transition: opacity .2s linear;
        &.revealed {
          opacity: 1;
          transition: opacity .2s linear;
        }
      }
      .first-point {
        left: calc(25% - 35px);
      }
      .second-point {
        left: calc(50% - 35px);
      }
      .third-point {
        left: calc(75% - 35px);
      }
    }
    .text-container {
      position: absolute;
      width: 100%;
      height: 100%;
      touch-action: none;
      pointer-events: none;
      .first-text,
      .second-text,
      .third-text {
        position: absolute;
        width: calc(50% + 70px);
        left: calc(25% - 35px);
        bottom: 45%;
        > p:first-child {
          font-size: 25px;
          font-weight: bold;
          line-height: 1;
          margin-bottom: 12px;
        }
        > p:last-child {
          font-size: 17px;
          line-height: 1;
          margin: 0;
        }
      }
      .first-text {
        text-align: left;
      }
      .second-text {
        text-align: center;
      }
      .third-text {
        text-align: right;
      }
    }
    .pagination-container {
      position: absolute;
      width: 100%;
      height: 45px;
      bottom: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .page-one,
      .page-two,
      .page-three {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 100%;
        margin: 0 5px;
        opacity: .8;
        &.active {
          width: 45px;
          height: 45px;
        }
      }
    }
    .skip-tuto-container {
      position: absolute;
      width: auto;
      bottom: 35px;
      left: calc(50% + 85px);
      > p {
        font-size: 11px;
        opacity: .8;
      }
    }
    .flag-container {
      position: absolute;
      bottom: 26px;
      right: 26px;
      a {
        img {
          width: 35px;
        }
      }
    }
  }
}
