page-welcome {
  .scroll-content {
    background-color: color($colors, majeure);
    color: white;
  }
  .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .switch-btn-wrapper {
      position: absolute;
      top: 0;
      left: calc(50% - 100px);
      width: 200px;
      height: 50px;
      background-color: color($colors, mineure);
      border: 2px solid color($colors, mineure);
      border-radius: 30px;
      overflow: hidden;
      z-index: 1;
      .switch-left,
      .switch-right {
        position: absolute;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color($colors, majeure);
        &.active {
          background-color: transparent;
          transition: all .2s linear;
        }
        ion-icon {
          font-size: 30px;
        }
      }
      .switch-left {
        left: 0;
        transform: scale(-1, 1);
      }
      .switch-right {
        left: 50%;
      }
    }
    .content-wrapper__left {
      position: absolute;
      width: 50%;
      height: 100%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: color($colors, majeure);
      transition: left .4s ease-in-out;
      &.switched {
        left: 50%;
        transition: left .4s ease-in-out;
      }
      img {
        width: 40%;
      }
    }
    .content-wrapper__right {
      position: absolute;
      width: 50%;
      height: 100%;
      left: 50%;
      background-color: color($colors, majeure);
      transition: left .4s ease-in-out;
      &.switched {
        left: 0;
        transition: left .4s ease-in-out;
      }
    }
    .content-wrapper__right--wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
      }
      > p {
        width: 80%;
        font-size: 19px;
        text-align: center;
        font-weight: 300;
        line-height: 1.5;
        margin: 0;
      }
      .welcome-wrapper {
        width: 100%;
        transition: all .2s linear;
        .login-register-buttons-wrapper {
          width: 100%;
          margin: 25px 0;
          a {
            width: 73.5%;
            display: block;
            background-color: color($colors, mineure);
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            border: none;
            border-radius: 30px;
            padding: 15px 45px;
            margin: 15px auto;
          }
        }
        .flags-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          a {
            &.active {
              img {
                width: 35px;
                margin: 0 15px;
                transition: all .2s linear;
              }
            }
            img {
              width: 20px;
              margin: 0 5px;
              transition: all .2s linear;
            }
          }
        }
      }
      .login-wrapper {
        width: 100%;
        .user-avatar-circle {
          width: 140px;
          height: 140px;
          border: 1px solid color($colors, mineure);
          border-radius: 100%;
          margin: 25px auto;
        }
        ion-input[type="email"],
        ion-input[type="password"],
        button[type="submit"] {
          width: 80%;
          margin: 20px auto;
          input {
            text-align: center;
          }
        }
        p {
          font-size: 12px;
          text-align: center;
          a {
            color: white;
          }
        }
      }
      .register-wrapper {
        margin: 0 auto;
        .top-form-wrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          .top-form-wrapper__right {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
            .user-avatar-circle {
              width: 120px;
              height: 120px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-size: 12px;
              text-align: center;
              border: 1px solid color($colors, mineure);
              border-radius: 100%;
              padding: 15px;
              margin: 25px auto;
            }
          }
        }
        .bottom-form-wrapper {
          .usage-conditions-checkbox-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 0;
            input[type="checkbox"] {
              margin-right: 5px;
            }
            label {
              font-size: 10px;
              margin: 6px 0;
            }
          }
        }
        button[type="submit"] {
          width: 100%;
          margin: 10px auto;
        }
        p {
          font-size: 12px;
          a {
            color: white;
          }
        }
      }
    }
    p.error-register-message,
    p.error-login-message {
      display: none;
      &.visible {
        display: block;
        color: #ff0000;
        text-align: center;
        margin: 0;
      }
    }
    .flag-container {
      position: absolute;
      bottom: 10px;
      right: 10px;
      a {
        img {
          width: 35px;
        }
      }
    }
  }
}
