<ion-content padding>

<div class="content-wrapper">
  <div class="switch-btn-wrapper" (click)="switchSides()">
    <div class="switch-left">
      <ion-icon name="hand"></ion-icon>
    </div>
    <div class="switch-right active">
      <ion-icon name="hand"></ion-icon>
    </div>
  </div>
  <div class="content-wrapper__left">
    <img src="assets/imgs/logo.png" alt="Logo Senses"/>
  </div>
  <div class="content-wrapper__right">
    <div class="content-wrapper__right--wrapper">
      <h1>Bienvenue sur Senses</h1>
      <p>Vivez une expérience extraordinaire grâce à la réalité virtuelle.</p>
      <div class="welcome-wrapper">
        <div class="login-register-buttons-wrapper">
          <a class="btn btn-default" (click)="showLoginForm()">Connexion</a>
          <a class="btn btn-default" (click)="showRegisterForm()">Inscription</a>
        </div>
        <div class="flags-wrapper">
          <a>
            <img src="assets/imgs/flags/china.png" alt="Chinese">
          </a>
          <a>
            <img src="assets/imgs/flags/spain.png" alt="Spanish">
          </a>
          <a class="active">
            <img src="assets/imgs/flags/france.png" alt="French"/>
          </a>
          <a>
            <img src="assets/imgs/flags/germany.png" alt="German">
          </a>
          <a>
            <img src="assets/imgs/flags/united-kingdom.png" alt="English">
          </a>
        </div>
      </div>
      <form (ngSubmit)="userLogin()" class="login-wrapper hidden">
        <div class="user-avatar-circle"></div>
        <ion-input type="email" [(ngModel)]="loginData.email" name="email" placeholder="Adresse email"></ion-input>
        <ion-input type="password" [(ngModel)]="loginData.password" name="password" placeholder="Mot de passe"></ion-input>
        <p class="error-login-message">Email ou mot de passe incorrect, veuillez réessayer.</p>
        <button ion-button type="submit">Connexion</button>
        <p><a>Mot de passe oublié</a> / <a (click)="showRegisterForm()">Inscription</a></p>
      </form>
      <form (ngSubmit)="userRegistration()" class="register-wrapper hidden">
        <div class="top-form-wrapper">
          <div class="top-form-wrapper__left">
            <div class="form-group">
              <ion-label for="first">Prénom</ion-label>
              <ion-input type="text" id="first" name="first" [(ngModel)]="registerData.first"></ion-input>
            </div>
            <div class="form-group">
              <ion-label for="last">Nom</ion-label>
              <ion-input type="text" id="last" name="last" [(ngModel)]="registerData.last"></ion-input>
            </div>
          </div>
          <div class="top-form-wrapper__right">
            <div class="user-avatar-circle">Configurer la reconnaissance faciale</div>
          </div>
        </div>
        <div class="bottom-form-wrapper">
          <div class="form-group">
            <ion-label for="email">Email</ion-label>
            <ion-input type="email" id="email" name="email" [(ngModel)]="registerData.email"></ion-input>
          </div>
          <div class="form-group">
            <ion-label for="password">Mot de passe</ion-label>
            <ion-input type="password" id="password" name="password" [(ngModel)]="registerData.password"></ion-input>
          </div>
          <div class="form-group usage-conditions-checkbox-wrapper">
            <input type="checkbox" id="usage-condition-checkbox" name="usage-conditions"/>
            <label for="usage-condition-checkbox">J'accepte les conditions d'utilisations et de ventes de l'application SENSES.</label>
          </div>
          <p class="error-register-message">Veuillez remplir tous les champs du formulaire.</p>
          <button ion-button type="submit">Inscription</button>
          <p><a (click)="showLoginForm()">J'ai déjà un compte</a></p>
        </div>
      </form>
    </div>
  </div>
  <div class="flag-container hidden">
    <a>
      <img src="assets/imgs/flags/france.png" alt="French">
    </a>
  </div>
</div>


</ion-content>
