<ion-content padding>
  <div class="sidebar-container">
    <div class="sidebar__logo-container">
      <img src="assets/imgs/logo.png" alt="Logo Senses" (click)="goToHomePage()"/>
    </div>
    <div class="sidebar__links-container">
      <div class="sidebar__top-links">
        <a class="link link-one no-icon">
          <img src="{{ currentUserImage }}" alt="Username" (click)="goToProfilePage()">
        </a>
        <a class="link link-two active">
          <img src="assets/imgs/sidebar/star-active.png" alt="Favoris">
        </a>
        <a class="link link-three">
          <img src="assets/imgs/sidebar/settings.png" alt="Paramètres" (click)="goToSettingsPage()">
        </a>
      </div>
      <div class="sidebar__bottom-links">
        <a class="link link-four">
          <img src="assets/imgs/sidebar/email.png" alt="Messages" (click)="goToContactPage()">
        </a>
        <a class="link link-five">
          <img src="assets/imgs/sidebar/question-mark.png" alt="Mentions légales" (click)="goToLegalPage()">
        </a>
        <a class="link link-six no-icon">
          <img src="assets/imgs/flags/france.png" alt="French">
        </a>
      </div>
    </div>
  </div>
</ion-content>
